@import "tailwindcss";

:root {
  --sans-font: "Arial", Helvetica, sans-serif;
  --serif-font: "Times New Roman", Times, serif;
  --mono-font: "Courier New", Courier, monospace;
  --max-width: 1024px;
  --size-small: 0.5em;
  --size-base: 1em;
  --size-medium: 1.25em;
  --size-large: 1.5em;
  --size-xl: 2em;
  --size-xxl: 2.5em;
  --background: 0 0% 100%;
  --foreground: 0 0% 20%;
  --muted: 0 0% 95%;
  --border: 0 0% 90%;
}

html {
  all: unset;
  display: block;
  overflow-x: hidden;
  min-width: 320px;
}

html[data-theme="dark"] {
  --background: 0 0% 3%;
  --foreground: 0 0% 92%;
  --muted: 0 0% 8%;
  --border: 0 0% 13%;
}

body {
  all: unset;
  display: block;
  font-family: var(--sans-font);
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  font-size: var(--size-base);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

.banner {
  background-color: hsl(var(--muted));
  text-align: center;
}

.container {
  padding-left: var(--size-large);
  padding-right: var(--size-large);
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.logo svg {
  width: 64px;
  height: 32px;
}

h1 {
  font-family: var(--serif-font);
  font-size: var(--size-xl);
  line-height: var(--size-large);
  font-weight: bold;
  padding-top: var(--size-small);
}

h2 {
  font-family: var(--serif-font);
  font-size: var(--size-large);
  line-height: var(--size-large);
  font-weight: bold;
  padding-top: var(--size-base);
}

h3 {
  font-family: var(--serif-font);
  font-size: var(--size-medium);
  line-height: var(--size-large);
  font-weight: bold;
  padding-top: var(--size-small);
}

p {
  line-height: var(--size-large);
  padding-top: var(--size-base);
}

ol {
  list-style-type: decimal;
  line-height: var(--size-large);
  margin-left: var(--size-base);
  padding-top: var(--size-base);
}

ul {
  list-style-type: disc;
  line-height: var(--size-large);
  margin-left: var(--size-base);
  padding-top: var(--size-base);
}

button {
  all: unset;
  cursor: pointer;
}

.button {
  all: unset;
  font-family: var(--serif-font);
  color: hsl(var(--foreground));
  background-color: hsl(var(--border));
  border-radius: var(--size-small);
  padding: var(--size-base) var(--size-xl);
  font-weight: bold;
  white-space: nowrap;
  cursor: pointer;
}
