---
export const prerender = true;
import Layout from "../layouts/Layout.astro";
---

<Layout title="Not Found" description="Could not find requested resource.">
  <div class="container">
    <h1>404 | Not Found</h1>
  </div>
  <div class="container pt-4">
    <p>
      The requested resource could not be located or accessed at this time,
      indicating that the system or service is currently unable to locate the
      specific information or content you are seeking. Click{" "}
      <a href="/" aria-label="Go to homepage">
        <b>here</b>
      </a>{" "}
      to return to the main page of our website.
    </p>
  </div>
</Layout>
