---
import Layout from "@/layouts/Layout.astro";

const title = "500 | Server Error";
const description =
  "An unexpected condition was encountered while processing the request.";
---

<Layout title={title} description={description}>
  <h1>{title}</h1>
  <p>{description}</p>
</Layout>
