---
export const prerender = true;
import Layout from "../layouts/Layout.astro";
import Email from "../../public/assets/email.svg?raw";
import Whatsapp from "../../public/assets/whatsapp.svg?raw";

const schema = {
  "@context": "https://schema.org",
  "@type": "ContactPage",
};
---

<Layout
  title="Contact"
  description="If you have any questions, inquiries, or concerns, no matter how big or small, please do not hesitate to reach out to me."
  schema={schema}
>
  <div class="container">
    <h1>Let's Connect</h1>
  </div>
  <div class="container pt-4">
    <p>
      If you have any questions, inquiries, or concerns, no matter how big or
      small, please do not hesitate to connect with me via:
    </p>
    <div class="flex flex-row flex-wrap justify-left">
      <div class="flex flex-col items-left w-1/3 min-w-24 py-8">
        <div class="w-6">
          <a
            href={`mailto:contact@moezh.com`}
            target="_blank"
            aria-label="Get in touch via email"
          >
            <Fragment set:html={Email} />
          </a>
        </div>
        <p>Email</p><small>contact@moezh.com</small>
      </div>
      <div class="flex flex-col items-left w-1/3 min-w-24 py-8">
        <div class="w-6">
          <a
            href={`https://wa.me/21629133300`}
            target="_blank"
            aria-label="Get in touch via whatsapp"
          >
            <Fragment set:html={Whatsapp} />
          </a>
        </div>
        <p>Whatsapp</p><small>21629133300</small>
      </div>
    </div>
  </div>
</Layout>
