---
export const prerender = true;
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Contact"
  description="If you have any questions, inquiries, or concerns, no matter how big or small, please do not hesitate to reach out to me."
>
  <div class="container">
    <h1>Let's Connect</h1>
  </div>
  <div class="container pt-4">
    <p>
      If you have any questions, inquiries, or concerns, no matter how big or
      small, please do not hesitate to reach out to me via email:
      <a
        href={`mailto:contact@moezh.com`}
        target="_blank"
        aria-label="Get in touch via email"
      >
        <b>contact@moezh.com</b>.
      </a>I look forward to hearing from you.
    </p>
  </div>
</Layout>
