---
import Layout from "../layouts/Layout.astro";
---

<Layout title="SSR Page" description="Page with Server Side Rendering">
  <div class="container">
    <h1>Server Side Rendering</h1>
  </div>
  <div class="container pt-4">
    <p>{Math.random()}</p>
  </div>
</Layout>
