---
import "../styles/global.css";
import DarkModeSync from "../components/DarkModeSync.astro";
import DarkModeButton from "../components/DarkModeButton.astro";
import IntersectionObserver from "../components/IntersectionObserver.astro";

interface Props {
  title: string;
  description: string;
}
const { title, description } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="canonical" href={canonicalURL.href} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <DarkModeSync />
    <style is:global>
      :root {
        --sans-font: "Arial", Helvetica, sans-serif;
        --serif-font: "Times New Roman", Times, serif;
        --mono-font: "Courier New", Courier, monospace;
        --max-width: 1024px;
        --size-small: 0.5em;
        --size-base: 1em;
        --size-medium: 1.25em;
        --size-large: 1.5em;
        --size-xl: 2em;
        --size-xxl: 2.5em;
        --background: 0 0% 100%;
        --foreground: 0 0% 20%;
        --muted: 0 0% 95%;
        --border: 0 0% 90%;
      }
      html {
        all: unset;
        display: block;
        overflow-x: hidden;
      }
      html[data-theme="dark"] {
        --background: 0 0% 3%;
        --foreground: 0 0% 92%;
        --muted: 0 0% 8%;
        --border: 0 0% 13%;
      }
      body {
        all: unset;
        display: block;
        font-family: var(--sans-font);
        background-color: hsl(var(--background));
        color: hsl(var(--foreground));
        font-size: var(--size-base);
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
      .banner {
        background-color: hsl(var(--muted));
        text-align: center;
      }
      .container {
        padding-left: var(--size-large);
        padding-right: var(--size-large);
        max-width: var(--max-width);
        margin-left: auto;
        margin-right: auto;
        width: 100%;
      }
      h1 {
        font-family: var(--serif-font);
        font-size: var(--size-xl);
        line-height: var(--size-medium);
        font-weight: bold;
        padding-top: var(--size-base);
      }
      h2 {
        font-family: var(--serif-font);
        font-size: var(--size-large);
        line-height: var(--size-medium);
        font-weight: bold;
        padding-top: var(--size-base);
      }
      h3 {
        font-family: var(--serif-font);
        font-size: var(--size-medium);
        line-height: var(--size-medium);
        font-weight: bold;
        padding-top: var(--size-base);
      }
      p {
        line-height: var(--size-medium);
        padding-top: var(--size-base);
      }
      ol {
        list-style-type: decimal;
        line-height: var(--size-medium);
        margin-left: var(--size-base);
        padding-top: var(--size-base);
      }
      ul {
        list-style-type: disc;
        line-height: var(--size-medium);
        margin-left: var(--size-base);
        padding-top: var(--size-base);
      }
      button {
        all: unset;
        cursor: pointer;
      }
      .button {
        all: unset;
        font-family: var(--serif-font);
        color: hsl(var(--foreground));
        background-color: hsl(var(--border));
        border-radius: var(--size-small);
        padding: var(--size-base) var(--size-xl);
        font-weight: bold;
        white-space: nowrap;
        cursor: pointer;
      }
    </style>
  </head>
  <body class="flex flex-col">
    <header class="flex-shrink px-6 py-4 max-w-screen-lg mx-auto w-full">
      <div class="flex">
        <div class="flex-shrink">
          <a href="/" aria-label="Homepage">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="64"
              height="32"
              viewBox="100 300 820 400"
              fill="currentColor"
            >
              <g transform="translate(0,1024) scale(0.100000,-0.100000)">
                <path
                  d="M1160 5190 l0 -1679 276 -3 c152 -2 278 -1 280 1 2 2 4 620 4 1374 0 785 4 1367 9 1365 7 -2 352 -436 1035 -1302 77 -98 197 -249 265 -335 69 -86 192 -241 273 -346 82 -104 153 -191 158 -193 4 -2 68 73 141 165 74 92 338 425 588 738 250 314 524 658 610 765 85 107 177 222 203 255 27 33 83 104 125 158 41 53 79 97 84 97 5 0 9 -573 9 -1370 l0 -1369 281 -3 c154 -2 283 -1 285 1 2 2 4 339 4 748 l0 743 1345 0 1345 0 0 -745 0 -744 276 -3 c152 -2 278 -1 280 1 2 2 4 760 4 1683 l0 1678 -277 -2 -278 -3 -3 -682 -2 -683 -1345 0 -1345 0 0 685 0 685 -352 0 -353 -1 -61 -77 c-68 -85 -702 -881 -1021 -1282 -435 -546 -535 -670 -537 -670 -2 0 -25 28 -52 63 -46 59 -214 270 -549 692 -83 105 -200 252 -260 329 -61 76 -219 276 -353 445 -134 168 -278 350 -320 403 l-77 98 -347 0 -348 0 0 -1680z"
                >
                </path>
              </g>
            </svg>
          </a>
        </div>
        <div class="flex-grow"></div>
        <div class="flex-shrink">
          <div class="flex">
            <DarkModeButton />
          </div>
        </div>
      </div>
    </header>
    <main class="flex-shrink pb-8">
      <div class="flex flex-col">
        <slot />
      </div>
    </main>
    <footer class="flex-shrink px-6 py-4 max-w-screen-lg mx-auto w-full">
      <div class="flex flex-col">
        <div class="flex space-x-3">
          <a href="/contact" aria-label="Contact">Contact</a>
          <a href="/privacy-policy" aria-label="Privacy Policy">
            Privacy Policy
          </a>
          <a href="/terms-of-service" aria-label="Terms of Service">
            Terms of Service
          </a>
        </div>
        Copyright © {new Date().getFullYear()} - All right reserved.
      </div>
    </footer>
    <IntersectionObserver />
  </body>
</html>
